@use "presets" as *;
@use "mixins" as *;

html {
  font-size: $font-size;
}

body {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}
