@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom: $gap-xl;
  .site-search {
    margin-bottom: $gap * 3;
  }

  .user-login {
    margin-bottom: $gap * 4;
  }
}

.new-films {
  h1 {
    font-family: $font-header;
    font-size: 3em;
    margin-bottom: 48px;
    margin-top: -10px;

    &::after {
      position: absolute;
      width: 490px;
      margin-left: $gap;
      margin-top: 41px;
      content: "";

      border-bottom: 3px solid $color-accent-light;
    }
  }

  &-row {
    margin-right: -$gap-sm;
    margin-left: -$gap-sm;
    margin-bottom: -$gap;
  }

  &-item {
    padding-right: $gap-sm;
    padding-left: $gap-sm;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;
    }

    &__image {
      width: 100%;
    }

    &__title {
      @include text-shortener;

      font-family: $font-main;
      font-size: $font-size;
      font-weight: bold;
      text-align: center;
    }
  }
}
